<ion-header>
  <ion-toolbar>
    <ion-title>Contatos</ion-title>
    <ion-buttons slot="end">
      <ion-icon class="{{piscando}}" style="font-size: 2em;" (click)="adicionar_amigo($event)" name="person-add"></ion-icon>
    </ion-buttons>
    <ion-buttons style="margin-left:10px; margin-right:10px;" (click)="sair()" slot="end">
      <ion-icon style="font-size: 2em;" name="menu"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-list *ngIf="listaUsuarios != null">
     <ion-item *ngFor="let usuario of listaUsuarios" (click)="dadosUsuario(usuario.id)">
       <ion-label>{{usuario.nome}}</ion-label>
       <ion-button fill="clear" [routerLink]="['/mensagens/', usuario.id]" slot="end">
        <ion-icon style="font-size:2.7em; color:black;" name="chatboxes"></ion-icon>
       </ion-button>
    </ion-item> 
  </ion-list>

  <div *ngIf="listaUsuarios.length == 0" id="semamigos">
    Você não adicionou nenhum amigo ainda 😥, clique no botão acima para adicionar
  </div>

</ion-content>
