
ion-content{
    // --background: url("/assets/images/fundo_login.jpg") no-repeat center center fixed!important;
    --background: url(../../assets/images/fundo_login.jpg) 0 0/100% 100% no-repeat;
}

a{
    color: rgb(119, 95, 255);
    text-decoration: none;
}