<ion-header>
  <ion-toolbar>
    <ion-title>
      Bem-vindo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fundo">
  <form (ngSubmit)="login()" style="margin-top:100px; padding:0px 20px 0px 20px;">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" [(ngModel)]="usuario.email" name="email"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" [(ngModel)]="usuario.senha" name="senha"></ion-input>
    </ion-item>
    <br>
    <ion-button expand="block" color="dark" type="submit"> Entrar </ion-button>
  </form>

  <div class="ion-padding text-center">
    <a [routerLink]="['/cadastro']" routerDirection="forward"> 
      <ion-button [routerLink]="['/cadastro']" expand="block" color="dark"> Cadastre-se</ion-button>
    </a>
  </div>
</ion-content>
